
@{
    ViewBag.Title = "Đăng nhập";

}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="~/Content/DangNhap.css" rel="stylesheet" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<h2>@ViewBag.ThongBao</h2>
<div class="main-content-agile">
    <div class="sub-main-w3">
        <div class="wthree-pro">

        </div>
        <div class="main">
            <label>Đăng nhập</label>
            <form action="#" method="post">
                <div class="pom-agile">
                    <input placeholder="Tài khoản" name="txtTaiKhoan" class="user" type="text">

                </div>
                <div class="pom-agile">
                    <input placeholder="Password" name="txtMatKhau" class="pass" type="password" required="">

                </div>
                <div class="sub-w3l">


                    <div class="right-w3l">
                        <input type="submit" value="Đăng nhập">

                    </div>
                    <a href="~/User/User/Create">Đăng ký</a>

                </div>
            </form>
        </div>
       
    </div>
</div>