@model NKSLK.Models.DTO.TaiKhoan

@{
    Layout = "~/Views/Shared/_adminLTE.cshtml";
}

<h2>Create</h2>

<form action="Create" method="post" role="form" enctype="multipart/form-data">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới </h3>

            <div class="box-tools pull-right">

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    @*<div class="form-group">
                        <label for="matk">Mã Tài khoản</label>
                        <input type="text" name="matk" class="form-control" id="matk">
                    </div>*@
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="tentk">Tài khoản</label>
                        <input type="text" class="form-control" name="tentk" id="tentk">
                    </div>
                    <div class="form-group">
                        <label for="mk">Mật khẩu </label>
                        <input type="text" class="form-control" name="mk" id="mk">
                    </div>
                    <div class="form-group">
                        <label for="phongban">Phân quyền</label>
                        <input type="text" name="phanquyen" class="form-control" id="phanquyen">
                    </div>
                    <div class="form-group">
                        <label for="macn">Mã công nhân</label>
                        <input type="text" name="macn" class="form-control" id="macn">
                    </div>
                   
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->

    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Thêm" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "phantrang")
</div>
